.rectangle {
  width: 100%;
  height: calc(100% - 50px);
  --start: hsl(0, 100%, 50%);
  --end: hsl(322, 100%, 50%);
  background-image: liner-gradient(-135deg, var(--start), var(--end));

}

.scrollable-element {
  overflow-y: scroll;
}

body {
  background-color: #f9f9f9;
}

body.theme-dark {
  background-color: #1e1e1e;
  color: #fff;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal .inner {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#weather strong {
  color: #d03939;
}